<nav class="navbar">
  <div class="container">
    <div class="grid">
      <div class="col-12">
        <a href="javascript:;" class="navbar-menu" (click)="showMenu =!showMenu">
          <i class="pi pi-bars"></i>
          <span class="navbar-title">{{title}}</span>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-opcoes" [hidden]="!showMenu">
    <li class="navbar-usuario">Menu</li>
    <li class="navbar-menuitem"><a href="/atividade-escola"> Página inicial</a></li>
    <li class="navbar-menuitem"><a href="tapete"> Tapete </a></li>
    <li class="navbar-menuitem"><a href="sistema-amortizacao"> Sistema Amortização </a></li>
  </ul>
</nav>
