<div class="container text-center">
  <h1>Tapete de porcentagens</h1>
  
  <h3>Total acertos: {{ competidor.totalPontos }}</h3>
  <h3>Total erros: {{ competidor.totalErros }}</h3>

  <button *ngIf="exibirBotao" (click)="sortearValores()" class="btn btn-success">Sortear</button>

  <h2>{{ percentual }}% de {{ valor }}</h2>

  <div class="row">
    <div class="col-4 col-lg-2-4" *ngFor="let opcao of resultados">
      <button class="btn btn-primary w-100" (click)="verificarQuestao(opcao)">
        {{ opcao }}
      </button>
    </div>
  </div>

</div>