<div class="container">
  <p>
    As atividades de Matemática desenvolvidas pelas professoras <strong>Edinéia</strong> e <strong>Maiara</strong> foram
    adaptadas para uma versão online
    pelo professor <a href="mailto:adroaldo.ferreira@escola.pr.gov,br">Adroaldo</a>, com o auxílio do framework <strong>Angular</strong>
    e hospedadas na internet por meio da
    ferramenta <strong> GitHub
    Pages</strong>. O material criado tem como objetivo auxiliar na aprendizagem dos conteúdos de Matemática do Ensino
    Fundamental no <strong>Colégio Estadual do Campo Castelo Branco</strong>, localizado em Vista Alegre, Coronel Vivida, Paraná.
  </p>
</div>
